php_flag  xdebug.remote_enable on
php_value xdebug.remote_host 192.168.1.208
php_value xdebug.remote_port 9000
php_value xdebug.idekey PHPSTORM
php_flag  xdebug.remote_autostart on

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
